<div class="home-container">
  <div class="background">
    <div class="left-bg"></div>
    <div class="right-bg"></div>
  </div>
  
  <div class="content">

    <div class="intro-content">
      <p class="intro-text">Hi, I'm</p>
      <h1 class="name">Lars van der Sluijs</h1>
      <p class="job-title">Fullstack Developer / Software Engineer</p>
    </div>

    <div class="description">
      <p>I'm a software engineering student focussed on fullstack development, currently working parttime as a software engineer for building experience</p>
    </div>

    <div class="social-icons">
      <a href="https://github.com" target="_blank" class="social-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
        </svg>
      </a>
      <a href="https://linkedin.com" target="_blank" class="social-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
    </div>

    <div class="profile-image-container">
      <img src="https://images.unsplash.com/photo-1642310290551-091541073559?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile" class="profile-image">
    </div>
  </div>
</div>
